/* *{
    background-color: #2a3447;
} */

.custom-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
}

.logo{
    opacity: 0.9;
    width: 60%
  }

.custom-label {
    margin-bottom: 10px;
}

.custom-input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
}

.custom-button {
    padding: 10px 20px;
    background-color: #d77403cf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.custom-button:hover {
    background-color: #b46901;
}

.custom-button:active {
    background-color: #7c4901;
}

.custom-button:focus {
    outline: none;
}

.error-message {
    color: red;
    transition: opacity 1s ease; /* Transición de opacidad durante 1 segundo */
    opacity: 1; /* Opacidad inicial */
  }
  
  .error-message.hidden {
    opacity: 0; /* Opacidad final cuando el mensaje se oculta */
  }