input{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
   
}

@media (max-width: 768px) {
input{
  width: 75% !important;
}
}
@media (min-width: 769px) and (max-width: 1024px) {
  input{
    width: 85% !important;
  }}
@media (min-width: 1025px) {
  input{
    width: 100% !important;
  }}
