
.module{
	display: flex;
		flex-direction: column !important;
		justify-content: center	!important;
		// align-content: center !important;

   }
   .module22{
	display: flex;
	flex-direction: column !important;
	justify-content: center	!important;
	align-items: center;
	img{
		width: 100% !important;
		border-radius: 0% !important;
		border: 5px solid black !important;
	}
	// width: 50%;
	// height: 50%;
	// align-items: center !important;
	
}
.module3{
	display: flex !important;
	flex-direction: column !important;
	justify-content: center	!important;
	align-items: center;
width: 100%;
form{
	display: flex !important;
	flex-direction: column !important;
	justify-content: center	!important;
	align-items: center !important;
width: 100%;
a{
	display: flex !important;
	flex-direction: column !important;
	justify-content: center	!important;
	align-items: center !important;
width: 100%;
}
}}

